.App {

    height: 100vh;


}

.main {

    background: linear-gradient(#bccae4, #9b9ca2);
}
.header {
    grid-column: 1/3;
    grid-row: 1/2;
}
.nav {
    grid-column: 1/2;
    grid-row: 2/3;
}
.footer {
    grid-column: 1/3;
    grid-row: 3/4;
}